/*
*for game - name-fighting
*create @ 2011.12.23
*by ajccom
*qq:136157536
*email:136157536@qq.com
*/

/*---use color---
border:#555(normal),#a55(highlight)
text:#333(normal),#999(unhighlight),#000(highlight)
---------------*/

/*<css reset>*/
html,body {font:12px/1.5 '微软雅黑','宋体',Verdana,Arial,Helvetica,sans-serif}
* {margin:0;padding:0}
a {color:#a55;text-decoration:none}
a:hover {color:#a55;text-decoration:underline}
/*</css reset>*/

/*<common>*/
input {border:1px solid #555;}
#main-wrap {width:1000px;margin:0 auto;color:#333}
#main-wrap .focus {border:1px solid #a55}
#main-wrap .red {color:#f00}
#main-wrap .yellow {color:#dd0}
#main-wrap .green {color:#0f0}
	/*<head>*/
	#main-wrap #header {padding:40px 275px 30px}
	#main-wrap #header a {color:#555;float:left;margin:0 0 0 3px;width:75px;display:block;font-size:18px;text-align:center;line-height:20px;height:20px;cursor:pointer;border:1px solid #fff;background:#eee}
	#main-wrap #header a.disable {color:#aaa}
	#main-wrap #header a:hover {border:1px solid #555;text-decoration:none}
	#main-wrap #header a.ready {color:#a55}
	#main-wrap #header a.ready:hover {border:1px solid #555}
	#main-wrap #header input {height:20px;line-height:20px;color:#333;width:180px}
	#main-wrap #header input.def {color:#999}
	#main-wrap #header input#actor0-name {float:left}
	#main-wrap #header input#actor1-name {float:right}
	/*</head>*/
	/*<main>*/
	#main-wrap #main {padding:10px;}
	#main-wrap .able-box {width:300px;overflow:hidden}
	#main-wrap .able-box span {overflow:hidden;text-indent:-9999px;display:block;}
	#main-wrap .face {overflow:hidden;text-indent:-9999px;width:100px;height:100px;border:1px solid #555;background:url(img/face/def.gif) scroll no-repeat 0 0 transparent}
	#main-wrap .n {background-position:0 0}
	#main-wrap .i {background-position:0 -100px}
	#main-wrap .l {background-position:0 -200px}
	#main-wrap .w {background-position:0 -300px}
	#main-wrap .name {font-weight:bold;font-size:14px}
	#main-wrap .hp {width:200px;height:20px;line-height:20px;position:relative;border:1px solid #555}
	#main-wrap .hp span{width:0px}
	#main-wrap .hp span.green{background:#0f0}
	#main-wrap .hp span.yellow{background:#ff0}
	#main-wrap .hp span.red{background:#f00}
	#main-wrap .hp em {position:absolute;left:215px;top:0px;font-style:normal}
	#main-wrap .able {margin:10px 0 0;border:1px solid #555;overflow:hidden;_height:153px}
	#main-wrap dl {margin:5px;overflow:hidden;clear:both;}
	#main-wrap dl dt {padding:0 10px 0 0;float:left;height:20px;}
	#main-wrap dl dd {float:left;height:20px;width:100px;position:relative;border:1px solid #555}
	#main-wrap dl dd span {width:0px;height:20px;}
	#main-wrap dl dd  span.green{background:#0f0}
	#main-wrap dl dd  span.yellow{background:#ff0}
	#main-wrap dl dd  span.red{background:#f00}
	#main-wrap dl dd em {position:absolute;left:108px;top:0px;font-style:normal}
	#main-wrap dl dd.intro {width:248px;height:60px}
	#actor0-able {float:left}
	#actor1-able {float:right}
	#act-content {width:300px;overflow:hidden;border:1px solid #555;float:left;margin:0 0 0 40px;height:308px;position:relative;overflow:auto}

#bottom { color:#555;font-size:15px;padding-left:30px }
	/*</main>*/
/*</common>*/
