.hotline20{ width:180px; height:30px;border-radius: 5px; background:#eb2744; line-height:30px; text-align:center; color:#fff;font-size:13px;}
.hotline21{ width:180px; height:30px;border-radius: 5px; background:#1E9FFF; line-height:30px; text-align:center; color:#fff;font-size:13px;}
.hotline22{ width:180px; height:30px;border-radius: 5px; background:#8D8D8D; line-height:30px; text-align:center; color:#fff;font-size:13px;}
.hotline23{ width:180px; height:30px;border-radius: 5px; background:#dddd22; line-height:30px; text-align:center; color:#fff;font-size:13px;}
.hotline24{ width:180px; height:30px;border-radius: 5px; background:#92B8B1; line-height:30px; text-align:center; color:#fff;font-size:13px;}
